/*   
  font-family: 'Roboto', sans-serif;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
  lighter blue: #74b9ff
  darker blue: #0984e3
*/

body {
  background-color: #74b9ff;;
}

.card-overview {
    background: white;
}

.top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
}

.top-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 20px;
}

.top-left {
  margin-left: 20px;
}

#orderNumber {
  margin-bottom: 5px;
}
#orderDate {
  margin-top: 5px;
}